@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poiret+One&display=swap");

html {
  background-color: #fbfffd;
}
#home{
  display: block;
}
#phone-email-nav{
    font-size: 10px;
}
.banner{
  display: block;
  min-height:200px;
  max-height:650px;
    }
.logo-scoots{
      display: inline;
      width: 175px;
      margin-bottom: 50px;
    }
header{
  display: block;
  background-image: url("/IMAGES/BYU.jpg");  
  background-color: #cccccc;
  background-size: 100% 600px;
  background-repeat: no-repeat;
  height: 600px;

}
.logo{
  position:absolute;
  width: 150px;
  left: 168px;
  top: 300px;
  border-radius: 50%;
}
p {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 15px;
  margin: 20px;
}

h3 {
  font-family: "Poiret One", cursive;
  font-weight: 400;
  font-size: 30px;
  margin: 10px;
}
img {
  vertical-align: middle;
  border-style: none;
}
.tour{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
.tour-img-left{
    grid-column: 1;
    width: 100%;
}
.tour-img-right{
    grid-column: 2;
    width: 100%;
}
.tour-txt-left{
    grid-column: 1;
    font-size: 20px;
}
.tour-txt-right{
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 15px;
  margin: 20px;
  grid-column: 2;
}
a {
  font-size: 20px;
  color: rgb(88, 4, 9);
  text-decoration: none;
}
ol{
  font-size: 20px;
  color: rgb(65, 4, 17);
}
nav {
    z-index: 200;
  }
.nav-contact{
    font-size: 20px;
    margin-right: 0px;
  }
nav > ul {
    list-style-type: none;
    display: flex;
  }
nav a:link,
nav a:visited {
    color: inherit;
  }
nav a:hover {
    color: #fbfffd;
    background-color: #340d8d;
    border-radius: 10px;
  }
.header-content {
    display: block;
    margin-top: 0%;
  }
  
input {
    font: inherit;
    margin: 0;
    overflow: visible;
  }
  
button {
    font-family: "Poiret One", cursive;
    font-weight: 400;
    font-size: 30px;
    margin: 10px;
    overflow: visible;
    text-transform: none;
     appearance: button;/* [type="submit"]; */
    border-style: none;
    padding: 0;
    outline: 1px dotted;/* ButtonText;*/
  }
.sm-icon{
    float: right;
  }
  
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  /*<!-- Navbar (sit on top) -->*/
#nav-bar {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    display: center;
    width: 100%;
    vertical-align: middle;
    padding: 5px;
    position: fixed;
    background-color: #fbfffd;
  }
.nav-logo img{
    filter: invert();
    
  }
  
.nav-logo {
    grid-column: 1 / span 1;
    grid-row: 1/ span 1;
    vertical-align: middle;
    width: 50px;
    margin-left: 10px;
  }
.nav-links {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    width: 100%;
    float:right;
    text-align: right;
    padding: 1px;
  }

.bar {
    width: 100%;
    text-align: left;
    padding: 16px;
  }
.logo-img {
    display: block;
  width:100%;
  }


@media only screen and (max-width: 45.5em) {

    .navigation {
        list-style: none;
        padding: 0;
    }
    .navigation li:first-child {
        display: inline-block;
    }
    .navigation li {
        display: none;
    }

    .navigation a.ham::before {
        content: "☰ ";
        float: right;
    }

    .navigation a:hover {
        color: white;
        background-color: #29527A;
    }

    nav > ul {
        display:inline-flex;
        float: left;
    }

    /* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
    <ul class="navigation responsive">
    */
    .responsive li {
        display: inline;
    }

    .responsive a.ham::before {
        content: "❌ ";
    }

    .nav-links {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        width: 100%;
        padding: 1px;
        }
    .phone-email-nav {
    grid-column: 1/ span 2;
    grid-row: 1 / span 1;
    }
    .nav-contact{
        float: right;
    }
    .nav-logo {
    grid-column: 1 / span 1;
    grid-row: 1/ span 1;
    vertical-align: middle;
    width: 50px;
    margin-left: 10px;
    }
    .tour{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    }
    .tour-img-left{
    grid-column: 1/ span 2;
    grid-row: 1;
    width: 100%;
    }
    .tour-img-right{
    grid-column: 1/ span 2;
    grid-row: 1;
    width: 100%;
    }
    .tour-txt-left{
    grid-column: 1/span 2;
    grid-row: 2;
    }
    .tour-txt-right{
    grid-column: 1/span 2;
    grid-row: 2;
    }
}

/*FAQ Section */
#section5 {
    text-align: center;
    font-family: "Poiret One", cursive;
    font-size: 60px;
    display: grid;
    grid-template-rows: 1fr;
    padding: 30px;
    margin: 10px;
  }
  
.collapsible {
    background-color: #15066b;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
}

.active,
.collapsible:hover {
    background-color: rgb(167, 10, 101);
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f8fffb;
}

.faq-heading {
    padding-top: 100px;
    font-size: 50px; 
}

#FAQ {
    padding: 50px;
}

form {
    margin: 0 auto;
    width: 500px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.create-banner {
    text-align: center;
}
#create {
    padding-top: 70px;
}

.content-headlines {
    font-size: 20px;
}

#section-2 {
    display: absolute;
}

#portfolios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    vertical-align: middle;
    margin: auto;

}
.portfolios img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.content-heading {
    font-family: "Playfair Display", serif;
    font-size: 30px;
}

.graduate {
    width: 250px;
    height: 300px;
    grid-column: 1;
    grid-row: 1;
    order: 1;
}

.business {
    width: 250px;
    height: 300px;
    grid-column: 2;
    grid-row:  1;
    order: 2;
}

.resume {
    width: 250px;
    height: 200px;
    grid-column: 3;
    grid-row:  1;
    order: 3;
}

.creative {
    width: 250px;
    height: 300px;
    grid-column: 1;
    grid-row:  2;
    order: 4;

}

.project {
    width: 250px;
    height: 100px;
    grid-column: 2;
    grid-row:  2;
    order: 5;
}

.classinfo{
    text-align: center;
}
  